// variables

$sansFont: 'Fjalla One', sans-serif;
$serifFont: 'Average', serif;
$lightBG: #fafafa;
$medBG: #bababa;
$darkBG: #5a5a5a;

// mixins

@mixin buttonStyles {
  &:hover {
        cursor: pointer;
        background-color: $lightBG;
    }
  &:focus{
    outline: none;
  }
  background-color: $medBG;
  border-radius: 5px;
  border-style: none;
  margin: .5vw;
  height: 3vh;
}

@mixin inputStyles {
  margin: .5vw;
  border-radius: 5px;
  border: none;
  height: 3vh;
}

// global

a {
  text-decoration: none;
}
body {
  background-color: $lightBG;
}

.btn {
  @include buttonStyles;
}

.input {
  @include inputStyles;
}

// header

.header {
  font-family: $sansFont;
  background: $darkBG;
  height: 15vh;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 3vmax;
}

.logo {
  font-family: $sansFont;
  font-size: 4em;
  text-decoration: none;
  color: $lightBG;
  margin-right: 5vw;
}

// moviecard

.fav {
  position: absolute;
  right: 4vw;
  bottom: 4vh;
  z-index: 2;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0);
  color: $medBG;
  text-shadow: 0px 0px 10px $medBG;
  font-size: 2vw;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    background-color: rgba(0,0,0,0);
  }
}

.favorite {
  color: red;
  background-color: rgba(0,0,0,0);
  &:hover {
    cursor: pointer;
  }
}

.movie-card {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  max-width: 22%;
  &:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
  }
}

.movie-poster {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

// movielist

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// signin

@media screen and (max-width: 480px) {
    body {
        background-color: #DCC6E0;
    }
}

@media screen and (max-width: 950px) {
    body {
        background-color: #F1A9A0;
    }
}
