// variables

$sansFont: 'Fjalla One', sans-serif;
$serifFont: 'Average', serif;
$lightBG: #fafafa;
$medBG: #bababa;
$darkBG: #5a5a5a;

// mixins

@mixin buttonStyles {
  &:hover {
        cursor: pointer;
        background-color: $lightBG;
    }
  &:focus{
    outline: none;
  }
  background-color: $medBG;
  border-radius: 5px;
  border-style: none;
  margin: .5vw;
  height: 3vh;
}

@mixin inputStyles {
  margin: .5vw;
  border-radius: 5px;
  border: none;
  height: 3vh;
}

// global

a {
  text-decoration: none;
}
body {
  background-color: $lightBG;
}

.btn {
  @include buttonStyles;
}

.input {
  @include inputStyles;
}

// header

.header {
  font-family: $sansFont;
  height: 15vh;
  margin: 3vmax;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  font-family: $sansFont;
  font-size: 10vh ;
  text-decoration: none;
  color: #F22613;
  display: flex;
  position: absolute;
  left: 0;
}

.logo-img {
  height: 10vh;
}

.show-fav-btn {
  position: absolute;
  top: 0;
  left: 0;
}

.welcome {
  position: absolute;
  right: 0;
  bottom: 0;
}

.sign-up-out-btns {
  position: absolute;
  right: 0;
  top: 0;
}

favorites {

}

// moviecard

.fav {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 44px;
  height: 44px;
  z-index: 3;
  border: none;
  background-image: url(/assets/tomato.svg);
  background-color: rgba(0,0,0,0);
  &:hover {
    cursor: pointer;
    background-image: url(/assets/tomato.svg);
    background-color: rgba(0,0,0,0);
  }
  &:focus{
    outline: none;
  }
}

.favorite {
  background-image: url(/assets/tomato-gray.svg);
  &:hover {
    background-image: url(/assets/tomato-green.svg);
    cursor: pointer;
  }
  &:focus{
    outline: none;
  }
}

.movie-card {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-grow: 1;
  max-width: 22%;
}

.movie-poster {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
  &:hover {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
    cursor: pointer;
  }
}

// movielist

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

// signin

@media screen and (max-width: 480px) {
    body {
        background-color: #DCC6E0;
    }
}

@media screen and (max-width: 950px) {
    body {
        background-color: #F1A9A0;
    }
}
