.fav {
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  background-color: pink;
  color: purple;
  border-radius: 50%;
  &:hover {
    cursor: pointer;
    background-color: purple;
    color: pink;
  }
}

.favorite {
  background: lime;
  color: white;
  &:hover {
    cursor: pointer;
    background: blue;
    color: red;
  }
}
